{% extends "layout.html" %}
{% block content %}
    <h1>How to Use</h1>
    <ol>
    <br>
    <li>Browse vocabulary file untuk Indonesia-Sunda dan Sunda-Indonesia<br><br></li>
    <li>Pastikan bahwa file-file tersebut bertipe text dan berada pada directory ./test<br><br></li>
    <li>Pilih mode terjemahan yang diinginkan. Pastikan sesuai dengan text yang ingin diterjemahkan<br><br></li>
    <li>Pilih salah satu dari tiga metode pattern matching yang disediakan, yaitu:<br><br></li>
    - Algoritma Boyers-Moore<br>
    - Algoritma Knutt-Morris-Pratt<br>
    - Regular Expression<br><br>
    <li>Masukkan text yang ingin diterjemahkan sesuai dengan pilihan terjemahan yang diinginkan<br><br></li>
    <li>Tekan tombol Translate untuk memulai penerjemahan<br><br></li>
    <li>Untuk melakukan penerjemahan kembali, tekan tombol Home untuk kembali ke Menu Awal<br><br></li>
    </ol>
{% endblock content %}